# Build folder and log file
build/
build.log

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
.venv
venv/
env/

# Data files
*.sqlite
reservations.json

# OS
.DS_Store
.vscode/
.idea/
